<h1>Listing Descriptors</h1>

<table>
  <thead>
    <tr>
      <th>Word</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @adjectives.each do |adjective| %>
      <tr>
        <td><%= adjective.word %></td>

        <td><%= link_to 'Show', adjective %></td>
        <td><%= link_to 'Edit', edit_adjective_path(adjective) %></td>
        <td><%= link_to 'Destroy', adjective, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Descriptor', new_adjective_path %>
