.row
	%h1.monHeader Our Creations #{@sortOrder}
	%span.monBadge.badge.badge-danger
		= @monsters.count

%div.row
	%ul.pager.pull-left.pageNums
		%li
			= link_to "Previous", monsters_path(:page => @pageN - 2)
		%li
			= page_entries_info
		- if @pageN > @totPgs
			%li.disabled
				= link_to "Next", "#"
		- else
			%li
				= link_to "Next", monsters_path(:page => @pageN)
	%div.btn-group.btn-group-sm.sortBtns.pull-right
		%button{:type => 'button', :class => 'btn btn-default sortDate'}
			Sort by Date
		%button{:type => 'button', :class => 'btn btn-default sortLikes'}
			Sort by Popularity
	

%hr


= render partial: 'shared/monsterList'
			


=link_to 'Create a new freakish monster', random_path, class: "btn btn-large btn-primary"

<!-- = link_to 'Show me all the monsters',  -->
