%h1 Our Creations

%ul.list-group
	- @monsters.each do |m|
		%li.list-group-item
			= m.name
			-# = link_to m.like, like_monster_path(m), class: "btn btn-small pull-right" do
			= link_to like_monster_path(:id => m), class: "btn btn-small pull-right likeBtn" do 
				%i.icon-thumbs-up-alt.pull-right
				- if m.like == 1
					= "#{m.like} Like"
				- else
					= "#{m.like} Likes"
				
				-# = link_to m.like, like_monster_path(m), class: "btn btn-small pull-right" do
			-# %span.badge
			-# 	= m.like
			


=link_to 'Create a new freakish monster', random_path, class: "btn btn-large btn-primary"

<!-- = link_to 'Show me all the monsters',  -->
