%h1 Our Creations #{@sortOrder}


%div.btn-group.btn-group-sm.sortBtns
	%button{:type => 'button', :class => 'btn btn-default sortDate'}
		Sort by Date
	%button{:type => 'button', :class => 'btn btn-default sortLikes'}
		Sort by Popularity
%span.badge.monBadge
	= @monsters.count



-# %div{class: "text-primary pull-left"}
-# 	= "Page #{@pageN}"



%ul.pagination.pull-right.pageNums
	%li
		-# %a{:href => "#"} &laquo;
		= link_to "<<", monsters_path(:page => (@pageN - 2))
	%li
		-# %a{:href => "#"} 1
		= link_to "#{@pageN -1}", monsters_path(:page => (@pageN - 1))
	%li
		-# %a{:href => "#"} 2
		= link_to "#{@pageN}", monsters_path(:page => @pageN)
	%li
		-# %a{:href => "#"} 3
		= link_to "#{@pageN + 1}", monsters_path(:page => (@pageN + 1))
	%li
		= link_to "#{@pageN + 2}", monsters_path(:page => (@pageN + 2))
	%li
		= link_to "#{@pageN + 3}", monsters_path(:page => (@pageN + 3))
	%li
		= link_to ">>", monsters_path(:page => @pageN)

%hr


= render partial: 'shared/monsterList'
			


=link_to 'Create a new freakish monster', random_path, class: "btn btn-large btn-primary"

<!-- = link_to 'Show me all the monsters',  -->
