%ul.list-group.monsterList
	- @monsters.each do |m|
		%li.list-group-item{id: "monLi#{m.id}"}
			= m.name
			= link_to likeMon_monster_path(:id => m), id: "monSter#{m.id}",class: "btn btn-small pull-right likeBtn", remote: true do 
				%i.icon-thumbs-up-alt.pull-right{id: "monStarI#{m.id}"}
				- if m.likes_count == 1
					%p{id: "monP#{m.id}"} #{m.likes_count} Like
				- else
					%p{id: "monP#{m.id}"} #{m.likes_count} Likes
				
				-# = link_to m.like, like_monster_path(m), class: "btn btn-small pull-right" do
			-# %span.badge
			-# 	= m.like