<!DOCTYPE html>
<html>
<head>
  <title>Titler</title>
  	<!-- <meta name="viewport" content="width=320.1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" /> -->
  	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=320.1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <!-- Bootstrap -->
   
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
   <%= analytics_init if Rails.env.production? %>
   <link rel="shortcut icon" href="favicon16.ico"/>
</head>


<body>
  <div data-role="page">
    <% if notice || alert %>
    	<% if notice %>
           <p class="notice alert alert-success"><%= notice %></p>
       <% else %>
           <p class="alert alert-danger"><%= alert %></p>
       <% end %>
    <% end %>
    <%= yield %>
  </div>
  <hr>

  <div class="row createNewBtns">
    <span class="col-md-6">
      <%= link_to "Add New Nouns", new_noun_path, class: "btn btn-success btn-large" %>
    </span>
    <span class="col-md-6">
      <%= link_to "Add New Descriptor", new_adjective_path, class: "btn btn-success btn-large" %>
    </span>
    <span class="col-md-8">
      <%= link_to "Show Me All the Monsters", monsters_path, class: "btn btn-primary btn-large" %>
    </span>
    <span class="glyphicon glyphicon-ok"></span>
    <span class="glyphicon glyphicon-fire"></span>
    <span data-icon="icon-instagram"></span>
    <span data-icon="instagram"></span>
    <i class="glyphicon glyphicon-ok"></i>
    <i class="glyphicon glyphicon-umbrella"></i>
  </div>






</body>

</html>

