<!DOCTYPE html>
<html>
<head>
  <title>Titler</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div data-role="page">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>

</div>
<hr>
<%= link_to "I want to create a new monster, damnit!", random_path %>
<hr>
<%= link_to "Want to add more nouns?", new_noun_path, :'data-role' => 'button' %>
<br>
<%= link_to "...or new adjectvies?", new_adjective_path, :'data-role' => 'button' %>

</div>

</body>
</html>
